---
import Email from '../icons/Email.astro'
import Github from '../icons/Github.astro'
import Linkedin from '../icons/Linkedin.astro'
---

<section id="contact" class="mx-auto bg-[#0f0f0f] pb-48 pt-48">
	<h2 class="text-center text-5xl text-white">Contact Me!</h2>
	<ul class="mt-12 flex flex-row justify-center gap-4">
		<li class="rounded-xl bg-slate-100 p-2 transition-all hover:scale-105">
			<a
				href="https://www.linkedin.com/in/josé-carlos-pecho-barreto-26351421a"
				target="_blank"
				rel="noopener noreferrer"
				class="rounded-full"
			>
				<Linkedin class="h-8 w-8" />
			</a>
		</li>
		<li class="rounded-xl bg-slate-100 p-2 transition-all hover:scale-105">
			<a href="mailto:jozedev@gmail.com" class="rounded-full">
				<Email class="h-8 w-8 fill-slate-100" />
			</a>
		</li>
		<li class="rounded-xl bg-slate-100 p-2 transition-all hover:scale-105">
			<a
				href="https://www.linkedin.com/in/josé-carlos-pecho-barreto-26351421a"
				target="_blank"
				rel="noopener noreferrer"
				class="rounded-full"
			>
				<Github class="h-8 w-8 fill-slate-100" />
			</a>
		</li>
	</ul>
</section>
