---
import ExperienceItem from '../ExperienceItem.astro'
import Modal from '../Modal.astro'
---

<section id="experience" class="mx-auto bg-[#f5f4f1] px-12 pb-12 pt-24">
	<h2 class="mb-8 text-center text-4xl font-semibold">Working Experience</h2>
	<ol class="mx-auto flex w-fit flex-col gap-4">
		<ExperienceItem
			icon="/experience1.jpg"
			title="Research and Development Analyst"
			company="Odybank"
			date="Oct 2022 - Present"
			description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, voluptate."
		/>
		<ExperienceItem
			icon="/experience1.jpg"
			title="Testing and Certification Leader"
			company="Odybank"
			date="Feb 2021 - Sept 2022"
			description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, voluptate."
		/>
		<ExperienceItem
			icon="/experience1.jpg"
			title="Fullstack Developer"
			company="Odybank"
			date="Oct 2020 - Feb 2021"
			description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, voluptate."
		/>
	</ol>
</section>
