---

---

<section id="home" class="bg-[#fefeff] py-24 pt-36">
	<div class="mx-auto flex max-w-4xl flex-col justify-center gap-8 lg:flex-row">
		<div
			class="items-left flex w-full flex-col items-center px-16 text-center lg:w-1/2 lg:items-start lg:px-0 lg:text-left"
		>
			<img src="/photo.jpg" alt="photo" class="rounded-full" width="60" />
			<h1 class="pt-4 text-5xl font-semibold">Hello! I'm José Pecho</h1>
		</div>
		<div
			class="items-left flex w-full flex-col items-center gap-4 px-16 text-center lg:w-1/2 lg:items-start lg:px-0 lg:text-left"
		>
			<h3 class="text-3xl font-semibold">
				A <b class="font-bold text-yellow-600">Fullstack Developer</b> based in Lima, Perú
			</h3>
			<p class="text-gray-600">
				I have <b class="font-bold"> 4 years </b> of experience in web development.
			</p>
			<div class="flex flex-row gap-4 pt-2">
				<a
					href="#contact"
					class="rounded-lg bg-black px-4 py-2 font-semibold text-white hover:underline"
				>
					Contact me
				</a>
				<a
					href="#projects"
					class="rounded-lg border border-black px-4 py-2 font-semibold text-black hover:underline"
				>
					See my work
				</a>
			</div>
		</div>
	</div>
</section>
